@import url('./token.css');
@import url('./reset.css');
@import url('./globals.css');
@import url('./sec/home.css');
@import url('./sec/offers.css');
@import url('./sec/form.css');
@import url('./sec/footer.css');